@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gudea&display=swap');
html{
    font-size: 10px;
}

body{
    margin: 0;
    padding: 0;
    background: radial-gradient(109.96% 109.96% at 50% -4.71%, #FFFFFF 0%, #FF87BF 100%); 
}



#social-contact{
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 1.4vw;
}


.phone-btn img, .mail-btn img{
    cursor: pointer;
}

.phone-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mail-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5vw;
}

.mail-btn p, .phone-btn p{
    width: 0;
    position: absolute;
    left: 2vw;
    z-index: -1;
    text-align: end;
    margin: 0;
    font-family: 'Sriracha', cursive;
    color: white;
    font-size: 1.4vw;
    background: rgba(236, 0, 140, 0.5);
    border-radius: 0px 10px 10px 0px;
}

.disable p{
    transition-delay: 1s;
    transition-timing-function: ease;
    transition: 3s;
    width: 0px;
}

.disable p{
    transition: 0.5s;
    opacity: 0;
}

.active p{
    transition-timing-function: ease;
    transition: 3s;
    width: 19.5vw;
}

.active p{
    transition-delay: 2s;
    transition: 1s;
    opacity: 1;
}

#social-contact img{
    width: 4.3vw;
    height: 4.3vw;
}

#header{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-blend-mode: multiply;
    background-image:url('img/Group1.png');
       
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.h1{
    margin: 0;
    padding: 0;
    -webkit-text-stroke: 0.2vw #B10C59;
    font-size: 8.68vw;
    font-family: 'Sriracha', cursive;
    color: transparent;
    line-height: 15.35vw;
}

.logo img{
    width: 16vw;
    height: 10vw;
}
.sub-logo{
    margin: 0;
    padding: 0;
    text-align: center;
}

.h3{
    font-family: 'Gudea', sans-serif;
    font-style: italic;
    font-size: 2.8vw;
    color: #B10C59;
}

.line{
    margin-top: 1.05vw;
    margin-bottom: 7vw;
    width: 84.7vw;
    border: 0.2vw solid #B10C59;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35);
}

#slider{
    height: 34.7vw;
    width: 100%;
    background-color: #80003C;
}

main{
    background-blend-mode: multiply;
    background-image:url('img/Group2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 69.5vw;
}

#main{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.button{
    font-family: 'Gudea', sans-serif;
    color: white;
    margin-top: 8.5vw;
    font-size: 3.8vw;
    font-weight: bold;
    text-align: center;
    line-height: 4.72vw;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    background: linear-gradient(255.64deg, #A60C54 0%, #D0418A 100%);
    border-radius: 0.65vw;
    border: 0px;
}

#main .line{
    width: 41.6vw;
    margin-top: 5.069vw;
}

#content{
    width: 94vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 14.6vw;
    position: relative;
}

.info-box{
    width: 27.6vw;
    height: 31.25vw;
    border-radius: 0.65vw;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.35);
}

#main .line{
    border: 0.2vw solid #7F003B;
}

.box-line{
    height: 15vw;
    border: 0.2vw solid #B10C59;
    box-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.35);
}

.contact-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#footer{
    height: auto;/*14vw;*/
    width: 100%;
    background: #80003C;
}

.contact-box{
    margin-top: 1.32vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-box:nth-of-type(1){
    width: 24.3vw;
}

.contact{
    font-size: 2.43vw;
    color: white;
    font-family: 'Sriracha', cursive;
}

.logo-footer{
    -webkit-text-stroke: 0.2vw white;
    font-size: 7vw;
    font-family: 'Sriracha', cursive;
    color: transparent;
    line-height: 12.3vw;
}

.contact-box svg{
    width: 4.6vw;
    height: 4.6vw;
}

.contact-box svg:nth-of-type(1){
    margin-right: 2.1875vw;
}
.contact-box:nth-of-type(2){
    margin-right: 5vw;
}
.copyrite{
    text-align: center;
    width: 100%;
}

.copyrite-info{
    font-family: 'Gudea', sans-serif;
    color: white;
    font-size: 1.73vw;
    color: rgba(255, 255, 255, 0.7);
}

.copyrite-info:nth-of-type(2){
    font-size: 1.05vw;
    color: rgba(255, 255, 255, 0.5);
}

.bold{
    font-weight: 600;
    font-family: 'Gudea',sans-serif;
}

.second{
    transition-timing-function: ease;
    transition: 1s;
    transition-delay: 1s;
    order: 4;
    
}

.box-line{
    position: absolute;
    left: 30vw;
    order: 3;
}

.second-line{
    position: absolute;
    left: 64vw;
    order: 5;
}

.first{
    transition-timing-function: ease;
    transition: 1s;
    transition-delay: 1s;
    order: 1;
}

.third{
    transition-timing-function: ease;
    transition: 1s;
    transition-delay: 1s;
    order: 7;
    width: 14vw;
    height: 21vw;
}

.next{
    position: absolute;
    left: 67vw;
    order: 6;
    cursor: pointer;
}

.previous svg, .next svg{
    width: 4.8vw;
    height: 3.7vw;
}

.previous{
    position: absolute;
    left: 23vw;
    order: 2;
    cursor: pointer;
}

.second div.head{
    transition: 1s;
    border-radius: 0.65vw;
    font-size: 3.5vw;
    color: white;
    text-align: center;
    width: 100%;
    font-family: 'Gudea', sans-serif;
    background: linear-gradient(237.48deg, #B10C59 0.73%, #BB2B6E 98.57%);
}

.line1{
    width: 98.5%;
    border: 0.2vw solid white;
}

.info-box.second{
    transition: 1s;
    width: 27.8vw;
    height: 34.7vw;
    background: linear-gradient(237.48deg, #B10C59 0.73%, #BB2B6E 98.57%);
}

.second div.discrpition-of-about{
    transition: 1s;
    transition-delay: 1s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: white;
    width: 100%;
    font-family: 'Gudea', sans-serif;
    width: 90%;   
    margin-left: 0.8vw;
    margin-top: 0.67vw;
    opacity: 1;
}

.first div.head, .third div.head{
    transition: 1s;
    font-size: 1.7vw;
    color: white;
    text-align: center;
    width: 100%;
    font-family: 'Gudea', sans-serif;
    background: linear-gradient(237.48deg, #B10C59 0.73%, #BB2B6E 98.57%);
}

.first div.discrpition-of-about, .third div.discrpition-of-about{
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: white;
    width: 100%;
    font-family: 'Gudea', sans-serif;
    width: 90%;   
    opacity: 0;
}


.info-box.first{
    transition: 1s;
    width: 14vw;
    height: 21vw;
    border: 0.2vw solid #B10C59;
}

.info-box.third{
    transition: 1s;
    width: 14vw;
    height: 21vw;
    border: 0.2vw solid #B10C59;
}

.more-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    opacity: 0;
}

.second .more-info{
    transition: 1s;
    transition-delay: 1s;
    opacity: 1;
}

.more-info a{
    font-size: 2vw;
    color: white;
    font-weight: bold;
    font-family: 'Gudea', sans-serif;
    text-decoration: none;
    margin-top: 5vw;
}